<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="container mt-4">
      <h1>Sign In</h1>
      <form action="/auth/sign-in" method="POST" class="mt-4">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
      </form>
    </div>
  </body>
</html>
