<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" /stylesheet/main.css" />
    <link rel="stylesheet" />
    <link rel="stylesheet" />

    <title>Home Page</title>
  </head>
  <body>
    <nav>
      <%- include('./partials/_navbar.ejs') %>
      <img src="/images/worldwide.png" alt="image" />
    </nav>
    <% if (user) { %>

    <h1>Welcome Flight Tickets App, <%= user.username %>!</h1>
    <h4>Your Window To Discover The World</h4>

    <% } else { %>
    <h1>Welcome To Flight Tickets App, guest.</h1>
    <h4>Your Window To Discover The World</h4>

    <% } %>
  </body>
</html>
